@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetCsrfToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="@GetCsrfToken()" />
    <title>@ViewData["Title"] - QuickInvoice</title>
    <style>
        html, body {
            height: 100vh;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="app">
        <header>
            <v-toolbar color="teal lighten-2">
                    
                </v-toolbar-title><v-btn flat href="/">QuickInvoice</v-btn></v-toolbar-title>
                <v-spacer></v-spacer>
                <div>
                    <v-btn color="gray">Login</v-btn>
                    <v-btn color="dark">Sign Up</v-btn>
                </div>
            </v-toolbar>
            
            <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QuickInvoice</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav> -->
        </header>    
        <v-container>
            <partial name="_CookieConsentPartial" />
            <v-layout>
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </v-layout>
        </v-container>

        <v-footer fixed>
            <v-layout align-center justify-center>
                <div>&copy; 2019 - QuickInvoice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
            </v-layout>
        </v-footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
